### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
my_df_2=pd.DataFrame(purchase_data) 
counts_unique_players=len(my_df_2["SN"].value_counts())
pd.DataFrame({"Total Players": [counts_unique_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [3]:
#purchase_data

raw_data = {
    'Class': ['Oct', 'Oct', 'Jan', 'Jan', 'Oct', 'Jan'], 
    'Name': ["Cyndy", "Logan", "Laci", "Elmer", "Crystle", "Emmie"], 
    'Test Score': [90, 59, 72, 88, 98, 60]}
df = pd.DataFrame(raw_data)
#df

# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100. 
bins = [10, 13.9, 14, 79.9, 89.9, 100]

# Create the names for the five bins
group_names = ["F", "D", "C", "B", "A"]

df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names, include_lowest=True)
df

  Class     Name  Test Score Test Score Summary
0   Oct    Cyndy          90                  A
1   Oct    Logan          59                  C
2   Jan     Laci          72                  C
3   Jan    Elmer          88                  B
4   Oct  Crystle          98                  A
5   Jan    Emmie          60                  C

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#my_df_2=pd.DataFrame(purchase_data) 
#counts_unique_players=len(my_df_2["SN"].value_counts())
#pd.DataFrame({"Total Players": [counts_unique_players]})
#purchase_data_age2 = {}
    
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
#purchase_data_age2["Purchase Count"] = len(purchase_data["SN"].value_counts())
#purchase_data_age2["Purchase Count"] = purchase_data["Purchase by Age"].count()
#"Avg Total Purchase per Person"

group_a_r=purchase_data.groupby(["Age Ranges"])
#group_compare = purchase_data.groupby(["Age Ranges"])
gar=group_a_r.mean()
gar
#purchase_data

            Purchase ID        Age     Item ID     Price
Age Ranges
<10          435.173913   7.869565  105.565217  3.353478
10-14        361.214286  11.392857   97.107143  2.956429
15-19        403.375000  16.794118   94.102941  3.035956
20-24        382.391781  21.838356   88.589041  3.052219
25-29        406.653465  26.000000   90.376238  2.900990
30-34        359.643836  31.383562   94.054795  2.931507
35-39        404.780488  36.707317  100.902439  3.601707
40+          410.230769  41.538462   89.076923  2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame