### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
my_df=pd.DataFrame(purchase_data)

## Player Count

* Display the total number of players

In [2]:
# my_df=pd.DataFrame(purchase_data) 
# Count uniques number of total players
counts_unique_players=len(my_df["SN"].value_counts())
# Cretae Data Frame for unique number of total players
total_unique_players=pd.DataFrame({"Total Players": [counts_unique_players]})
total_unique_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Determne number of Unique Items, Total Purchase Amount and Total Revenue
counts_unique_items=len(my_df["Item ID"].value_counts()) 
average_price=my_df["Price"].mean()
total_purchases=my_df["SN"].count()
total_revenue=average_price * total_purchases

# Create summary table
summary_df = pd.DataFrame({"Number of Unique Items": counts_unique_items,
                          "Average Price" : average_price, 
                           "Number of Purchases": total_purchases,
                          "Total Revenue" : total_revenue},
                           index=[0])

# Format as the last steps for average price and total revenue
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# restarting again based on input from substitute Instructor Bill Parker on 012422 (session 5.2) and my file
# "BZ Experiments with groupby (Audi) and object using plotting_groups.ipynb  012522  v0.3" 

# my_df=pd.DataFrame(purchase_data)

# Determine the unique count of total players (i.e 576)
unique_players=my_df.nunique()["SN"]

# Create table grouped by Gender 
grouped_df = my_df.groupby( ["Gender"])

# Create table for unique count of gender (by SN)  
uniques_by_gender = grouped_df.nunique()["SN"]
# Create tabke for percent by gender
percent_by_gender = (uniques_by_gender / unique_players)*100

# Pull all of the tables together and create summary table data frame
genders_summary_df=pd.DataFrame({"Total Count":uniques_by_gender, "Percentage of Players":percent_by_gender})

# Sort
genders_summary_df = genders_summary_df.sort_values("Total Count", ascending=False)

# Remove index
genders_summary_df.index.name = None

# Format as the last step
genders_summary_df["Percentage of Players"] = genders_summary_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
genders_summary_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# my_df=pd.DataFrame(purchase_data)
grouped_df = my_df.groupby( ["Gender"])

# Create table for purchase count (by Purchase ID)  
purchases_by_gender = grouped_df.count()["Purchase ID"]

# Create table for average purchase price (by Price)  
price_by_gender = grouped_df.mean()["Price"]

# Create table for total purchase value 
total_by_gender = purchases_by_gender * price_by_gender

# Create table for Total Purchase Value by unique players
total_by_gender_unique = total_by_gender / uniques_by_gender

# Pull all of the tables together and create summary table data frame
genders_summary_df=pd.DataFrame({"Purchase Count":purchases_by_gender, "Average Purchase Price":price_by_gender, 
                                 "Total Purchase Value":total_by_gender, "Avg Total Purchase per Person":total_by_gender_unique})

# Format as the last step
genders_summary_df["Average Purchase Price"] = genders_summary_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
genders_summary_df["Total Purchase Value"] = genders_summary_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
genders_summary_df["Avg Total Purchase per Person"] = genders_summary_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
genders_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for the ages and categorize the existing players (use pd.cut)
age_purchase_data = purchase_data
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_purchase_data["Age Ranges"] = pd.cut(age_purchase_data["Age"], bins, labels=group_names, include_lowest=True)

# Groupby age ranges
group_a_r=age_purchase_data.groupby("Age Ranges")
gar=group_a_r.nunique()
total_counts=gar["SN"]
percentage_of_players= ((total_counts/ unique_players)*100)

genders_summary_df=pd.DataFrame({"Total Count":total_counts, "Percentage of Players":percentage_of_players 
                                })

genders_summary_df["Percentage of Players"] = genders_summary_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
print("print(genders_summary_df)")
print(genders_summary_df)
print("genders_summary_df")
genders_summary_df
print()
print("Still need to put into DataFrame???")
                             
print("genders_summary_df.dtypes")
print(genders_summary_df.dtypes)

print(genders_summary_df)
            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%
genders_summary_df

Still need to put into DataFrame???
genders_summary_df.dtypes
Total Count               int64
Percentage of Players    object
dtype: object

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Establish bins for the ages and categorize the existing players (use pd.cut)
age_purchase_data = purchase_data
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_purchase_data["Age Ranges"] = pd.cut(age_purchase_data["Age"], bins, labels=group_names, include_lowest=True)

# Groupby age ranges
group_a_r=age_purchase_data.groupby("Age")
gar=group_a_r.nunique()
total_counts=gar["SN"]
percentage_of_players= ((total_counts/ unique_players)*100)

print('age_purchase_data["Age"]')
print(age_purchase_data["Age"])
print()


# my_df=pd.DataFrame(purchase_data)
grouped_df = my_df.groupby( ["Age"])

# Create table for purchase count (by Purchase ID)  
purchases_by_gender = grouped_df.count()["Purchase ID"]

# Create table for average purchase price (by Price)  
price_by_gender = grouped_df.mean()["Price"]

# Create table for total purchase value 
total_by_gender = purchases_by_gender * price_by_gender

# Create table for Total Purchase Value by unique players
total_by_gender_unique = total_by_gender / uniques_by_gender

# Pull all of the tables together and create summary table data frame
genders_summary_df=pd.DataFrame({"Purchase Count":purchases_by_gender, "Average Purchase Price":price_by_gender, 
                                 "Total Purchase Value":total_by_gender, "Avg Total Purchase per Person":total_by_gender_unique})

print()
print("Still need to put into DataFrame???")
                             

# Format as the last step
# genders_summary_df["Average Purchase Price"] = genders_summary_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
# genders_summary_df["Total Purchase Value"] = genders_summary_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
# genders_summary_df["Avg Total Purchase per Person"] = genders_summary_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
# genders_summary_df

age_purchase_data["Age"]
0      20
1      40
2      24
3      24
4      23
       ..
775    21
776    21
777    20
778     7
779    24
Name: Age, Length: 780, dtype: int64


Still need to put into DataFrame???

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# # from Kent Smith 012322
# #most profitable items
# items_totalvalue_df = items_groupedby_df.sort_values(["total purchase value"], ascending=False).head(5)
# items_totalvalue_df.style.format(precision=0,formatter={"item price":"${:.2f}",
#                                                      "total purchase value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame