### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
my_df=pd.DataFrame(purchase_data)
my_df_summary=({})
my_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
my_df_2=pd.DataFrame(purchase_data) 
counts_unique_players=len(my_df_2["SN"].value_counts())
pd.DataFrame({"Total Players": [counts_unique_players]})

counts_unique_players=len(my_df["SN"].value_counts())
total_unique_players=pd.DataFrame({"Total Players": [counts_unique_players]})
total_unique_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Determne number of Unique Items, Total Purchase Amount and Total Revenue
counts_unique_items=len(my_df["Item ID"].value_counts()) 
average_price=my_df["Price"].mean()
total_purchases=my_df["SN"].count()
total_revenue=average_price * total_purchases

#my_df_summary["Price"] = my_df["Price"].mean()
#print(my_df_summary["Price"])
#print(my_df_summary.dtypes)
#print(average_price.dtypes)
#counts_unique_items = counts_unique_items.astype(float).map("${:,.2f}".format)
#my_df_summary["Price"] = my_df_summary["Price"].astype(float).map("${:,.2f}".format)
# print(my_df_var.dtypes)
#print(average_price.dtypes)
#print(my_df_summary["Price"])
# my_df_var would be series
# my_df["Price_F"]=my_df_var
# print(my_df["Price_F"])

summary_df = pd.DataFrame({"Number of Unique Items": counts_unique_items,
                          "Average Price" : average_price, 
                           "Number of Purchases": total_purchases,
                          "Total Reveune" : total_revenue},
                           index=[0])
print(summary_df)

#type(average_price)
#type(total_purchases)
#type(total_revenue)

   Number of Unique Items  Average Price  Number of Purchases  Total Reveune
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# determine total# of unique players 
unique_players=my_df.nunique()["SN"]
#print(unique_players)

# genders_df_sum = genders_df.sum()
# print(genders_df_sum[4:0])

grouped_df = my_df.groupby( ["Gender", "SN"] )
new_df=pd.DataFrame(grouped_df.size().reset_index(name = "Group_Count"))
print(new_df)

total_genders=len(grouped_df)
total_genders
print(total_genders)


# Determine count by Gender
male_genders=len(grouped_df.Gender.value_counts().Male)
female_genders=len(grouped_df.Gender.value_counts().Female)
#other_genders=unique_players-male_genders-female_genders
other_genders=len(grouped_df.Gender.value_counts()["Other / Non-Disclosed"])
#print(other_genders)
#print(grouped_df.Gender.value_counts())

# Determine percent by Gender
male_percent=(male_genders / unique_players)*100
female_percent=(female_genders / unique_players)*100
# other_percent=(other_genders / unique_players)*100
other_percent=100-male_percent-female_percent

# #below is close to working but formats across the columns not in rows****************************************
# genders_summary_df = pd.DataFrame({"Total Count": unique_players, 
#                                    "Male" : male_genders,
#                                    "Female" : female_genders,
#                                    "Other / Non-Disclosed" : other_genders,
#                                    "Male %" : male_percent,
#                                    "Female %" : female_percent,                                   
#                                    "Other / Non-Disclosed %" : other_percent},
#                            index=[0])
# print(genders_summary_df)
# *************************************************************************************************************

genders_summary_df = pd.DataFrame([{"Total Count": male_genders, "Percentage of Players": male_percent},
                                  {"Total Count": female_genders, "Percentage of Players": female_percent},
                                  {"Total Count": other_genders, "Percentage of Players": other_percent}])

genders_summary_df["Percentage of Players"] = genders_summary_df["Percentage of Players"].astype(float).map("{:,.2f}".format)

#print(genders_summary_df)
#print(genders_summary_df.dtypes)

# genders_summary_df["Male %"] = genders_summary_df["Male %"].astype(float).map("{:,.2f}".format)
# genders_summary_df["Female %"] = genders_summary_df["Female %"].astype(float).map("{:,.2f}".format)
# genders_summary_df["Other / Non-Disclosed %"] = genders_summary_df["Other / Non-Disclosed %"].astype(float).map("{:,.2f}".format)

genders_summary_df
# test_it=genders_df.sum()[0:4]
# print(test_it[0:0])

                    Gender             SN  Group_Count
0                   Female    Adastirin33            1
1                   Female  Aerithllora36            2
2                   Female     Aethedru70            1
3                   Female       Aidain51            1
4                   Female      Aiduesu86            1
..                     ...            ...          ...
571  Other / Non-Disclosed       Lirtim36            1
572  Other / Non-Disclosed     Maluncil97            2
573  Other / Non-Disclosed      Rairith81            1
574  Other / Non-Disclosed   Siarithria38            2
575  Other / Non-Disclosed       Sundim98            1

[576 rows x 3 columns]
576

   Total Count Percentage of Players
0          484                 84.03
1           81                 14.06
2           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#  # Grouping the DataFrame by "Assignee"
# assignee_group = eclipse_df.groupby("Assignee")

# # Count how many of each component Assignees worked on and create DataFrame
# assignee_work_df = pd.DataFrame(assignee_group["Component"].value_counts())
# assignee_work_df.head()

# count number of differnet types of genders
genders_df=pd.DataFrame(purchase_data).groupby(["Gender"]) 
print(genders_df.count())

#gender_work_df = pd.DataFrame(genders_df["Price"].sum())

gender_work_df["Purchase Count"] = pd.DataFrame(gender_group["Purchase ID"].count())
gender_work_df["Average Purchase Price"] = gender_work_df["Price"].mean()
print(gender_work_df)

# Grouping the DataFrame by "Gender"
my_df=pd.DataFrame(purchase_data)
gender_group = my_df.groupby( "Gender" )
#gender_work_df = my_df.groupby( "Gender" )

# Count how many of each component Assignees worked on and create DataFrame
# gender_work_df["Purchase Count"] = pd.DataFrame(gender_group["Purchase ID"].count())
# gender_work_df["Average Purchase Price"]  = pd.DataFrame(gender_group["Price"].mean())
# gender_work_df["Total Purchase Value"][0] = (gender_work_df["Purchase Count"][0] * gender_work_df["Average Purchase Price"][0])
# gender_work_df["Total Purchase Value"][1] = (gender_work_df["Purchase Count"][1] * gender_work_df["Average Purchase Price"][1])
# gender_work_df["Total Purchase Value"][2] = (gender_work_df["Purchase Count"][2] * gender_work_df["Average Purchase Price"][2])
# gender_work_df["Avg Total Purchase per Person"]  = len(pd.DataFrame(gender_group["Price"].mean()))

# # Determine count by Gender
# male_genders=len(gender_group.Gender.value_counts().Male)
# female_genders=len(gender_group.Gender.value_counts().Female)
# #other_genders=unique_players-male_genders-female_genders
# other_genders=len(gender_group.Gender.value_counts()["Other / Non-Disclosed"])

# grouped_df = my_df.groupby( ["Gender", "SN"] )
# new_df=pd.DataFrame(grouped_df.size().reset_index(name = "Group_Count"))
# #print(new_df)

# Determine count by Gender
male_genders=len(grouped_df.Gender.value_counts().Male)
female_genders=len(grouped_df.Gender.value_counts().Female)
#other_genders=unique_players-male_genders-female_genders
other_genders=len(grouped_df.Gender.value_counts()["Other / Non-Disclosed"])

print("BZ Genders")
print(female_genders)
print(male_genders)
print(other_genders)

# gender_work_df["Avg Total Purchase per Person"][0] = ((gender_work_df["Total Purchase Value"][0]) / female_genders)
# gender_work_df["Avg Total Purchase per Person"][1] = (gender_work_df["Total Purchase Value"][1] / male_genders)
# gender_work_df["Avg Total Purchase per Person"][2] = (gender_work_df["Total Purchase Value"][2] / other_genders)

# gender_work_df["Average Purchase Price"] = gender_work_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)

# gender_work_df.head()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

NameError: name 'gender_group' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
#purchase_data_age2["Purchase Count"] = len(purchase_data["SN"].value_counts())
#purchase_data_age2["Purchase Count"] = purchase_data["Purchase by Age"].count()
#"Avg Total Purchase per Person"

group_a_r=purchase_data.groupby(["Age Ranges"])
#group_compare = purchase_data.groupby(["Age Ranges"])
gar=group_a_r.mean()
gar

#purchase_data

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bins_2 = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names_2 = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins_2, labels=group_names_2, include_lowest=True)
#purchase_data_age2["Purchase Count"] = len(purchase_data["SN"].value_counts())
#purchase_data_age2["Purchase Count"] = purchase_data["Purchase by Age"].count()
#"Avg Total Purchase per Person"

group_a_r_2=purchase_data.groupby(["Age Ranges"])
#group_compare = purchase_data.groupby(["Age Ranges"])
gar_2=group_a_r_2.mean()
gar_2
#purchase_data

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame