### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
my_df=pd.DataFrame(purchase_data)
# my_df

In [2]:
my_df.loc[0:1]
my_df.loc[0:3]
my_df.loc[0:5,['SN','Gender','Price']]
print(my_df.dtypes)
# hosted_in_us_df["average_donation"] = hosted_in_us_df["average_donation"].astype(float).map(
#     "${:,.2f}".format)

#my_df["Price"] = my_df["Price"].astype(float).map("${:,.2f}".format)
my_df_var = my_df["Price"].astype(float).map("${:,.2f}".format)
# my_df_var would be series
my_df["Price_F"]=my_df_var
print(my_df["Price_F"])
# Eli said can only add back in series columns if the same size
# Mohammad said last thing want to do at end is format! (I am guessing becasue it is destructive) 

print(my_df.loc[0:5,['SN','Gender','Price',"Price","Price_F"]])
print(my_df.dtypes)

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object
0      $3.53
1      $1.56
2      $4.88
3      $3.27
4      $1.44
       ...
775    $3.54
776    $1.63
777    $3.46
778    $4.19
779    $4.60
Name: Price_F, Length: 780, dtype: object
              SN Gender  Price  Price Price_F
0        Lisim78   Male   3.53   3.53   $3.53
1    Lisovynya38   Male   1.56   1.56   $1.56
2     Ithergue48   Male   4.88   4.88   $4.88
3  Chamassasya86   Male   3.27   3.27   $3.27
4      Iskosia90   Male   1.44   1.44   $1.44
5        Yalae81   Male   3.61   3.61   $3.61
Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
Price_F         object
dtype: object

In [3]:
class_23 = my_df[my_df["Price"].isin(["$3.53"])]
class_23

Empty DataFrame
Columns: [Purchase ID, SN, Age, Gender, Item ID, Item Name, Price, Price_F]
Index: []

## Player Count

* Display the total number of players

In [4]:
counts_unique_players=len(my_df["SN"].value_counts())
total_unique_players=pd.DataFrame({"Total Players": [counts_unique_players]})
total_unique_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
counts_unique_items=len(my_df["Item ID"].value_counts())
#total_unique_items=pd.DataFrame({"Number of Unique Item": [counts_unique_items]})
#total_unique_items
average_price=my_df["Price"].mean()
#total_average_price=pd.DataFrame({"Average Price": [average_price]})
#total_average_price
total_purchases=my_df["SN"].count()
total_revenue=average_price * total_purchases

# hosted_in_us_df["average_donation"] = hosted_in_us_df["average_donation"].astype(float).map(
#     "${:,.2f}".format)
#average_price["Price"]=average_price["Price"].astype(float).map("${:,.2f}".format)
# hosted_in_us_df["goal"] = hosted_in_us_df["goal"].astype(float).map("${:,.2f}".format)
# hosted_in_us_df["pledged"] = hosted_in_us_df["pledged"].astype(float).map("${:,.2f}".format)


summary_df = pd.DataFrame({"Number of Unique Items": counts_unique_items,
                          "Average Price" : average_price, 
                           "Number of Purchases": total_purchases,
                          "Total Reveune" : total_revenue},
                           index=[0])
summary_df

#type(average_price)
#type(total_purchases)
#type(total_revenue)

   Number of Unique Items  Average Price  Number of Purchases  Total Reveune
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# determine total# of unique players 
unique_players=my_df.nunique()["SN"]
#print(unique_players)

#count number of differnet types of genders
genders_df=pd.DataFrame(purchase_data).groupby("Gender")
total_genders=len(genders_df)
total_genders
#print(total_genders)

grouped_df = my_df.groupby( ["Gender", "SN"] )
new_df=pd.DataFrame(grouped_df.size().reset_index(name = "Group_Count"))
#print(new_df)

# Determine count by Gender
male_genders=len(grouped_df.Gender.value_counts().Male)
female_genders=len(grouped_df.Gender.value_counts().Female)
#other_genders=unique_players-male_genders-female_genders
others_genders=len(grouped_df.Gender.value_counts()["Other / Non-Disclosed"])
print(others_genders)
print(grouped_df.Gender.value_counts())

# Determine percent by Gender
male_percent=(male_genders / unique_players)*100
female_percent=(female_genders / unique_players)*100
other_percent=(other_genders / unique_players)*100

genders_summary_df = pd.DataFrame({"Total Count": unique_players, 
                                   "Male" : male_genders,
                                   "Female" : female_genders,
                                   "Other / Non-Disclosed" : other_genders,
                                   "Male %" : male_percent,
                                   "Female %" : female_percent,                                   
                                   "Other / Non-Disclosed %" : other_percent},
                           index=[0])
print(genders_summary_df)
print(genders_summary_df.dtypes)

genders_summary_df["Male %"] = genders_summary_df["Male %"].astype(float).map("{:,.2f}".format)

genders_summary_df

11
Gender                 SN             Gender
Female                 Adastirin33    Female                   1
                       Aerithllora36  Female                   2
                       Aethedru70     Female                   1
                       Aidain51       Female                   1
                       Aiduesu86      Female                   1
                                                              ..
Other / Non-Disclosed  Lirtim36       Other / Non-Disclosed    1
                       Maluncil97     Other / Non-Disclosed    2
                       Rairith81      Other / Non-Disclosed    1
                       Siarithria38   Other / Non-Disclosed    2
                       Sundim98       Other / Non-Disclosed    1
Name: Gender, Length: 576, dtype: int64

NameError: name 'other_genders' is not defined


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#purchase_data

raw_data = {
    'Class': ['Oct', 'Oct', 'Jan', 'Jan', 'Oct', 'Jan'], 
    'Name': ["Cyndy", "Logan", "Laci", "Elmer", "Crystle", "Emmie"], 
    'Test Score': [90, 59, 72, 88, 98, 60]}
#df = pd.DataFrame(raw_data)
#df

# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100. 
bins = [10, 13.9, 14, 79.9, 89.9, 100]

# Create the names for the five bins
group_names = ["F", "D", "C", "B", "A"]

df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names, include_lowest=True)
df

NameError: name 'df' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# my_df_3=pd.DataFrame(purchase_data)
# print(my_df_3)

#counts_unique_players=len(my_df_2["SN"].value_counts())
#pd.DataFrame({"Total Players": [counts_unique_players]})
#purchase_data_age2 = {}
    
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
#purchase_data_age2["Purchase Count"] = len(purchase_data["SN"].value_counts())
#purchase_data_age2["Purchase Count"] = purchase_data["Purchase by Age"].count()
#"Avg Total Purchase per Person"

group_a_r=purchase_data.groupby(["Age Ranges"])
#group_compare = purchase_data.groupby(["Age Ranges"])
gar=group_a_r.mean()
gar
#purchase_data

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame